@use "../shared" as *;

:root {
  --default-font-family: system-ui, sans-serif;
  --default-font-size: #{rem(20)};
  --default-line-height: 1.3;
  --default-font-style: normal;
}

.h1 {
  @include desktop {
    @include h1-desktop("rem");
  }

  @include phone {
    @include h1-mobile("rem");
  }
}

.h2 {
  @include desktop {
    @include h2-desktop("rem");
  }

  @include phone {
    @include h2-mobile("rem");
  }
}

.h3 {
  @include desktop {
    @include h3-desktop("rem");
  }

  @include phone {
    @include h3-mobile("rem");
  }
}

.body-medium {
  @include desktop {
    @include body-medium-desktop("rem");
  }

  @include phone {
    @include body-medium-mobile("rem");
  }
}