/* stylelint-disable declaration-no-important */
@mixin loading-indicator {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-blue);
    z-index: 999;

    animation: loading 2s ease-in-out infinite;

    @keyframes loading {
      0% {
        transform: scale(0, 1);
        transform-origin: top left;
      }

      50% {
        transform: scale(1, 1);
        transform-origin: top left;
      }

      51% {
        transform: scale(1, 1);
        transform-origin: top right;
      }

      100% {
        transform: scale(0, 1);
        transform-origin: top right;
      }
    }
  }

  *,
  *::before,
  *::after {
    cursor: wait !important;
  }
}
