@use "@styles/shared" as *;

.button {
  display: inline-flex;
  align-items: center;

  padding: rem(12) rem(18);
  width: fit-content;
  gap: rem(7);

  border: max(rem(2), 2px) solid var(--color-fedora);
  border-radius: 12px;
  background-color: var(--color-lavender);
  cursor: pointer;
  transition: background-color $default-transition;

  @include hover {
    background-color: var(--color-white);
  }

  &__text {
    font-size: rem(18);
    color: var(--color-fedora);
  }

  &__icon {
    width: rem(24);
    height: rem(24);

    svg {
      width: 100%;
      height: 100%;
      color: var(--color-fedora);
    }
  }

  &--fill {
    border-color: var(--color-white);
    background-color: var(--color-fedora);

    .button__text {
      color: var(--color-white);
    }

    @include hover {
      background-color: var(--color-east-side);
    }
  }
}
