@use "@styles/shared" as *;

.title {
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 600;

  &._xl {
    font-size: 4rem;
  }

  &._lg {
    font-size: 3rem;
  }

  &._md {
    font-size: 2.5rem;
  }

  &._sm {
    font-size: 2rem;
  }

  &._xs {
    font-size: 1.5rem;
  }

  &._xxs {
    font-size: 1rem;
  }
}
