---
import RootLayout from '@layouts/root/root'
import Header from '@components/Header/Header'
import Footer from '@components/Footer/Footer'
import './UI-kit.scss'
---

<RootLayout title="UI-Kit">
  <Header title="UI-Kit" />
  <main>
    <slot />
    <div class="ui-nav" data-ui-nav>
      <ul></ul>
      <button class="ui-nav__toggle" data-ui-nav-toggle>+</button>
    </div>
  </main>
  <Footer />
</RootLayout>

<script src="./UI-kit.ts"></script>
