@use "@styles/shared" as *;

.ui {
  padding-top: rem(120);
  padding-bottom: rem(30);

  &__title {
    margin: 0;
    margin-bottom: rem(20);
    position: relative;
    font-size: rem(28);
    line-height: 1.2;
  }

  &__text {
    margin: 0;
    font-size: rem(18);
    margin-bottom: rem(12);
  }

  [data-ui-section] {
    display: grid;
    gap: rem(15);
    padding: rem(30) rem(30) rem(35);
    border-radius: rem(16);
    background-color: #f8f5fc;

    &:not(:last-child) {
      margin-bottom: rem(45);
    }
  }

  &__mod-wrap {
    margin: 0 rem(-15);
    padding: rem(15);
    display: grid;
    gap: rem(15);
    border-radius: rem(8);

    &--dark {
      background-color: #2e2f37;
      color: #ffffff;
    }
  }
}

.ui-title {
  margin-bottom: rem(30);
  font-size: rem(45);
  line-height: 1.2;
  color: #58485e;
}

.ui-nav {
  position: fixed;
  z-index: 100;
  right: rem(20);
  bottom: rem(20);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &.is-open ul {
    opacity: 1;
    pointer-events: all;
  }

  &__toggle {
    position: relative;
    bottom: rem(10);
    right: rem(10);
    z-index: 2;
    width: rem(34);
    height: rem(34);
    background-color: #f8f5fc;
    border: rem(2) solid #58485e;
    border-radius: rem(8);
    cursor: pointer;
    font-size: rem(24);
    line-height: 1;
    color: #58485e;
    opacity: 0.4;
    transition:
      opacity 0.3s ease,
      border-color 0.3s ease;

    &:hover {
      opacity: 1;
      border-color: #b8b1b9;
    }
  }

  ul {
    position: absolute;
    right: 0;
    bottom: calc(100% - #{rem(34)});
    list-style: none;
    max-height: rem(500);
    padding: rem(15);
    width: max-content;
    margin: 0;
    background-color: #f8f5fc;
    border: rem(2) solid #b8b1b9;
    border-radius: rem(18);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      margin-bottom: rem(-37);
      margin-top: rem(30);
      display: block;
      font-size: rem(14);
      color: #58485e;
      opacity: 0.6;
    }

    li:not(:last-child) {
      margin-bottom: rem(13);
    }

    a {
      color: #58485e;
      font-size: rem(18);
      opacity: 1;
      transition: opacity 0.3s ease;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
        color: var(--color-primary);
      }
    }
  }
}

.ui-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(80);

  &__logo svg {
    width: rem(192);
  }
}

.ui-footer {
  padding: rem(12) 0 rem(20);
  width: 100%;

  &__text {
    text-align: right;
    font-size: rem(16);
    line-height: rem(19);
    opacity: 0.6;
  }
}

.ui-background-gray {
  background-color: #808080;
}
