---
import Container from '@components/Container/Container'
import Title from '@ui/Title/Title'
import type { Props } from './Header.types'

const { title } = Astro.props
---

<header class="header">
  <Container className={'header__container'}>
    <p>Header</p>
  </Container>
</header>
