---
import RootLayout from '@layouts/root/root'
import Header from '@components/Header/Header'
import Footer from '@components/Footer/Footer'
import Nav from '@/components/Nav/Nav.astro'
import type { Props } from './Main.types'

const { title } = Astro.props
---

<RootLayout title={title}>
  <Nav />
  <Header title={title} />

  <main class="page__main">
    <slot />
  </main>

  <Footer />
</RootLayout>
