---
import Container from '@components/Container/Container'
---

<footer class="footer">
  <Container className="footer__container">
    <p>
      Source code on <a
        href="https://git.sborka.team/sborka-infra/sp.starter/astro"
        target="_blank"
        rel="noopener noreferrer">GitHub</a>
    </p>
    <p>
      Made by
      <a
        href="https://sborkaproject.ru/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Sborka Project
      </a>
      with ❤️
    </p>
  </Container>
</footer>
